.grid {
    display: table;
    width: 900px;
    height: 900px;
    margin: auto;
    
  }
  
  .grid-row {
    display: table-row;

  }
  
  .tile {
    display: table-cell;
    background-color: #999;
    padding: 25px;
    border: 1px solid white;
  }
  
  .tile.snake {
    background-color: rgb(97, 216, 97);
  }
  
  .tile.snakeBody {
    background-color: rgb(30, 105, 30);
  }
  .tile.apple {
    background-color: #ff0000;
  }